<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Js Rain Mapper</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/libs/leaflet.css">
    <link rel="stylesheet" href="/css/libs/Control.FullScreen.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/css/libs/leaflet.ie.css">
    <![endif]-->
</head>
<body ng-app="rainMapper">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="/es5-shim/es5-shim.js"></script>
<script src="/json3/lib/json3.min.js"></script>
<![endif]-->



<%= terms %>
<div id="wrapper" ng-view>

</div>

<script src="/libs/jquery/jquery.js"></script>

<script src="/libs/socket.io-client/dist/socket.io.min.js"></script>

<script src="/libs/angular/angular.js"></script>
<script src="/libs/angular-route/angular-route.js"></script>
<script src="/libs/angular-socket-io/socket.js"></script>

<script src="/js/libs/leaflet-src.js"></script>
<script src="/js/libs/leaflet-layer.js"></script>

<script src="/js/libs/leaflet-openweathermap.js"></script>
<script src="/js/libs/Control.FullScreen.js"></script>
<script src="/libs/angular-leaflet-directive/src/angular-leaflet-directive.js"></script>

<script src="/js/script.js"></script>
<script src="/js/controllers/mainCtrl.js"></script>
<script src="/js/services/locationProvider.js"></script>
<script src="/js/services/socketConnectionFactory.js"></script>

</body>
</html>
